@import url('https://fonts.googleapis.com/css?family=Exo:400,700');


.circles{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    /* z-index: -1000 */
}

.circles img{
     position: absolute;
     background-color: transparent;
     width: 40px;
     height: 40px;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    /* background: rgba(255, 255, 255, 0.2); */
}

#circle1 {
    left: 25%;
    width: 80px;
    height: 80px;
    bottom: -150px;
    animation-delay: 0s;
    animation: animate 26s linear infinite;
    z-index:-999;

}
#circle2 {
    left: 10%;
    width: 20px;
    height: 20px;
    bottom: -150px;
    animation-delay: 3s;
    animation-duration: 12s;
    animation: animate 26s linear infinite;
    z-index:-999;

}
#circle3 {
    left: 70%;
    width: 60px;
    height: 60px;
    bottom: -150px;
    animation-delay: 6s;
    animation: animate 24s linear infinite;
    z-index:-999;

}
#circle4 {
    left: 40%;
    width: 100px;
    height: 100px;
    bottom: -150px;
    animation-delay: 9s;
    animation-duration: 18s;
    animation: animate 18s linear infinite;
    z-index:-999;

  }
#circle4 {
    left: 65%;
    width: 20px;
    height: 20px;
    bottom: -150px;
    animation-delay: 12s;
    animation: animate 15s linear infinite;
    z-index:-999;
}
#circle5 {
    left: 65%;
    width: 20px;
    height: 20px;
    bottom: 150px;
    animation-delay: 15s;
    animation: animate 16s linear infinite;
    z-index:-999;
}
#circle6 {
    left: 75%;
    width: 110px;
    height: 110px;
    bottom: -150px;
    animation-delay: 18s;
    animation: animate 21s linear infinite;
    z-index:-999;
}
#circle7 {
    left: 35%;
    width: 40px;
    height: 40px;
    bottom: -150px;
    animation-delay: 21s;
    animation: animate 24s linear infinite;
    z-index:-999;
}
#circle8 {
    left: 25%;
    width: 80px;
    height: 80px;
    bottom: -150px;
    animation-delay: 8s;
    animation: animate 13s linear infinite;
    z-index:-999;
}
#circle9 {
    left: 85%;
    width: 80px;
    height: 80px;
    bottom: -150px;
    animation-delay: 3s;
    animation: animate 17s linear infinite;
    z-index:-999;
}
#circle10 {
    left: 5%;
    width: 120px;
    height: 120px;
    bottom: -150px;
    animation-delay: 5s;
    animation: animate 19s linear infinite;
    z-index:-999;
}


@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}





@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

 
